@charset "UTF-8";

.header {
	max-width: 800px;
	margin: 0 auto;
	background-color: #f8f9fa;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	font-family: Arial, sans-serif;
}

.header h1 {
	margin: 0;
	color: #343a40;
	text-align: center;
}